.inputform {
    border: none;
    outline: none;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    width: 80%;
   margin: auto
}

.rightside {
    display: flex;
    height: 3rem;
}
.form {


    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 3rem;


}
.btn1{
    background-color: orange;
    color: white;
}
.btn1:hover {
    background-color: rgb(255, 254, 176);
    color: orange;
   
}
.btn {
   
    font-size: 1.5rem;
    border:none;
    border-radius: 5px;
    width: 55px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items:center ;
    filter: drop-shadow(-1mm 4mm 4mm rgb(209, 151, 85));
}


.btn2:hover {
    background-color: orange;
    color: white;
}
.btn2 {
    background-color: rgb(255, 254, 176);
    color: orange;
   
}

.btnlogo {
    display: flex;
    justify-content: center;
    align-items: center;
}